<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href="/semantic/semantic.min.css">
    
{{!-- nodejs_12에서 css 위치는 public 안에 있다고 지정해줬으므로 public 안의 semantic으로 지정 가능--}}
    <script src="/semantic/semantic.min.js"></script>
</head>
<body>
    {{{ body }}}
    

</body>
</html>