<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABC</title> 
    {{!-- nodemon의 익스텐션 바꾸는 법
    --> 기본적으로는 js,mjs,json 만 자동 업데이트 
    --> js,json,hbs을 뒤에 붙여주면 hbs 파일을 수정하면 자동 업데이트 가능하게 됨 --}}
    <link rel = "stylesheet" href="/semantic/semantic.min.css">
    
{{!-- nodejs_12에서 css 위치는 public 안에 있다고 지정해줬으므로 public 안의 semantic으로 지정 가능--}}
    <script src="/semantic/semantic.min.js"></script>
</head>
<body>
    {{{ body }}}
    

</body>
</html>